//START PAGE | TYPOGRAPHY
/*TYPOGRAPHY PAGE START*/

//TYPERFACE
/*|- FONT FAMILY'S TYPERFACES -|*/
$lexend: 'Jost', sans-serif;

//FONTS WEIGHT
$extra-light :200;
$regular:400;
$medium:500;
$bold: 700;

//FONTS SIZE 
$xx-large: 2rem;
$x-large: 1.875rem;
$large: 1.125rem;
$medium: 1rem;
$small: 0.75rem;

